<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>APOD</title>
</head>
<body>
    <div>
        <h2>
            <%=ApodData.title%>.
        </h2>
        <!-- <form style="text-align:right;"> -->
            <p style="text-align:right;">
                <label>
                    Enter Date:
                    <input type="date" id="date" value='<%=ApodData.date%>'>
                </label>
            </p>
            <!-- <p><button id="submit">Submit</button></p> -->
        <!-- </form> -->
        <% if(ApodData.media_type=="image" ){ %>
            <img src='<%=ApodData.url%>' alt='<%=ApodData.title%>' width="1100" height="400">
        <% } else{ %>
                <iframe width="1100" height="400" src='<%=ApodData.url%>'>
                </iframe>
        <% } %>

            <p>
                <b>Explanation:</b><%=ApodData.explanation%>
            </p>
    </div>
    <script>
        document.getElementById("date").onchange = async function() {
            let date = document.getElementById("date").value;
            // await fetch(`${window.location.origin}/?date=${date}`)
            window.location.href = `${window.location.origin}/?date=${date}`;
            console.log("kuch toh hua", date)
        };
    </script>

</body>

</html>